<style>
  .message-content {
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
  header {
    background-color: #F01159;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
  }

  button {
    background-color: #003458;
    color: white;
    font-weight: 700;
    border: none;
    height: 56px;
    padding: 0 20px;
    border-radius: 5px;
  }

  header h1 {
    color: white;
    text-align: center;
  }
</style>

<div class="message-content">
  <header>
    <h1>One Learning</h1>
  </header>
  <h4>Olá, {{name}}</h4>
  <p>Parece que uma troca de senha da sua conta foi solicitada.</p>
  <p>Se foi você, então clique no link abaixo para escolher a sua nova senha:</p>
  <a href="{{link}}">
      <button>
        Resetar a minha senha
      </button>
  </a>
  <p>Se não foi você, então descarte esse email.</p>

  <p>
    Obrigado! <br>
    <strong>Equipe One Learning</strong>
  </p>
</div>
